* { box-sizing:border-box;}

html, body { 
   height: 100%; margin: 20px; font-family: 'Fira Sans', sans-serif; background: #666; 
   overflow: hidden;
}



#wrapper { 
   max-width: 380px;
   margin: 0 auto;
   min-height: 800px;
   color: white;
   background: #000;
   border-radius: 10px;
   position: relative;
   padding: 40px 20px;
   box-shadow: 10px;
   -webkit-box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.5);
    overflow: hidden;
   }
a { color: white; text-decoration: none;}

#phonenav { 
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-top: 1px solid #666;
    z-index: 8000;
    background: #000;
    padding: 20px;
    }

#phonenav a {
    width: 32px;
    height: 32px;
    background: url(../img/back.svg) no-repeat center center;
    text-indent: 999px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
    opacity: .6;
}

.screen {
    opacity: 0;
   position: absolute;
   top: 20px; left: 380px; right: 0;
   bottom: 73px;
   background: black;
   background-position: center center;
   /*display: none;*/
   padding: 20px;
   transition: all 200ms ease-out;
   width: 340px;
}
.screen.visible {
   left: 20px;
   opacity: 1;
}
.screen.invisible {
   left: -380px;
   opacity: 0;
}


/* --------------------------------------------------------------------------------- Contacts */
#contacts .nano-content { padding-left: 2.5em;}
#contacts ul { list-style-type: none; padding: 0; margin: 0 0 2em;}
#contacts li {font-size: 250%; padding: 0 0 0 1em;}
#contacts li.sep { 
    width: 40px;
    padding: 0 0 7px;
    font-size: 16px; text-transform:uppercase; background: url(../img/sep.png) no-repeat 0 100%;}


/* --------------------------------------------------------------------------------- Conversations */    

#inbox .nano-content {
    padding: 2.5em;
}
#inbox h2 { font-size: 200%; margin-bottom: 10px;}
#inbox section:first-child h2 { margin-top: 0;}
#inbox h2 span { color: white !important;}
#inbox section div:nth-of-type(n+2) {
    display: none;
}
#inbox section { overflow: auto;}
#inbox section div { width: 33.3333%; font-size: 200%; line-height: 1;}
#inbox section div.sent { margin-left: 66.6666%;}
#inbox section div.received { margin-left: 33.3333%;}
#inbox section div span {-webkit-text-fill-color:#ccc !important;}


/* --------------------------------------------------------------------------------- Conversation */    

#thread .nano-content {
    padding: 2.5em 2.5em 5em 2.5em;
}
#thread h2 { 
    font-size: 200%;
    position: fixed;
    background: rgba(0,0,0,.8);
    /* right: 0; */
    width: 340px;
    margin: -40px 0 0 -20px;
    padding: 0 20px;
    }
    #thread .nano-content { opacity: 1; transition: opacity 200ms ease-out;}
    #thread.alpha .nano-content { opacity: 0; transition: opacity 200ms ease-out;}

#thread div div:first-of-type { margin-top: 60px;}
#thread h2 span { color: white !important;}
#thread div div { width: 50%; font-size: 200%; line-height: 1; margin-bottom: 40px;}
#thread div div.sent { margin-left: 50%;}
#thread div div.received { margin-left: 0%;}


/* --------------------------------------------------------------------------------- Home */

#home { display: block; }

#home a { 
   display: block;
   width: 50%;
   height: 25%;
   position: absolute;  
   text-align: center;
   font-weight: 100;
   letter-spacing: 0.02em;
   }
   #home span { display: block; height: 70%; vertical-align: bottom; padding-bottom: 10px;}
   #home img { max-width: 80%; max-height: 100%;  vertical-align: bottom;}
   #home-contacts { top: 0; left:0; padding-top: 40px;}
   #home-saisir { top: 25%; left:50%;}
   #home-inbox { top: 50%; left:0;}
   #home-bookmarks { top: 75%; left:50%;}


/* --------------------------------------------------------------------------------- Saisir */

#contact { text-align: center; top: 0; position: absolute; width: 100%; padding: 20px 0 40px; left: 0; font-size: 250%;}
#contact strong {
    font-size: 50%;
    font-weight: 400;
    letter-spacing: 0.05em;
    }
#saisir nav { position: absolute; bottom: 0px; left: 0; z-index: 11; text-align:center; width: 100%; height: 120px;}
#saisir nav.below{ z-index: 0;} 
#saisir.listening {
   background: url(../img/home-saisir.gif) no-repeat center center;
}
/*#saisir { overflow: hidden;}
#message { overflow-y:scroll; height: 100%;}*/


.nano { }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   {  }
.nano .nano-slider { background: #111; }


.button { 
   height: 120px; width: 120px; 
   display: inline-block;
   display: none;
   cursor: pointer;
   }
   
   .button-record { 
      background: url(../img/saisir-record.gif) center center; 
      background-size: 100%;
      display: inline-block;
   }
   .button-stop {
      background: url(../img/saisir-stop.gif) center center; 
      background-size: 100%;
   }
   #button-stop.visible, .button.visible { display: inline-block; }


#transcription { 
   padding: 120px 0 80px;
   width: 100%; border: none;
   text-align: center;
   line-height: .7;
   font-size: 600%;
   /*-webkit-background-clip: text;
   -webkit-text-fill-color: transparent;*/
   }
#message { padding: 0 50px 0 35px; z-index: 10;}   

#message-buttons div {
   height: 60px; width: 50%; 
   display: block;
   float: left;
   display: none;
   cursor: pointer;
   }
#message-buttons.visible div {  display: inline-block;}
#message-buttons.invisible div { display: none;}

#button-send { 
   background: url(../img/send.png) center center no-repeat; 
   background-size: 60px;
   margin: 0;
   }
#button-cancel { 
   background: url(../img/cancel.png) center center no-repeat; 
   background-size: 60px;
   margin: 0;
   }   
